.header {
  position: relative;
  padding: rem(29) 0 0 0;

  background-image: url("../../../public/main_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-black-70);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(50);
    padding: 0 0 rem(30) 0;
  }
  &__logo {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: rem(16);
    color: var(--color-white);
    &-text {
      font-family: var(--ff-logo);
      @include fluid-text(33.88, 20);
      line-height: 100%;
    }
  }
  &__button {
    position: relative;
    z-index: 2;
    font-family: var(--ff-main);
    border: none;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    line-height: 183%;
  }

  &__line {
    position: relative;
    z-index: 2;
    height: 1px;
    background-color: var(--color-white-60);
    border: none;
    margin: 0;
  }
  &__title {
    display: block;
    position: relative;
    z-index: 2;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: rem(108) 0 rem(142);
    @include fluid-text(48, 28);
    line-height: 100%;
  }
}
