.header {
  position: relative;
  padding: rem(29) 0 0 0;
  background-image: url("/main_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include vp-767 {
    padding: rem(10) 0 0 0;
  }
  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-black-70);
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(50);
    padding: 0 0 rem(35) 0;
    @include vp-767 {
      padding: 0 0 rem(15) 0;
    }
  }
  &__line {
    position: relative;
    z-index: 2;
    height: 1px;
    background-color: var(--color-white-60);
    border: none;
    margin: 0;
  }
  &__title {
    display: block;
    position: relative;

    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    padding: rem(120) 0 rem(155);
    @include fluid-text(48, 25);
    line-height: 100%;
    font-weight: 700;
    @include vp-767 {
      font-size: rem(26);
      padding: rem(60) 0 rem(90);
    }
    @media (max-width: 425px) {
      font-size: rem(20);
      padding: rem(20) 0 rem(30);
    }
    &-login {
      display: block;
      position: relative;
      color: var(--color-white);
      text-align: center;
      text-transform: uppercase;
      @include fluid-text(48, 25);
      line-height: 100%;
      font-weight: 700;
      padding: rem(52) 0;
      @include vp-767 {
        font-size: rem(26);
        padding: rem(40) 0;
      }
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    font-family: var(--ff-main);
    border: none;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    padding: 0;

    &-photo {
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      background-color: #fff;
      margin: 0 rem(8) 0 0;
      @media (max-width: 425px) {
        display: none;
      }
    }
    &-name {
      font-size: rem(16);
      line-height: 183%;
      color: var(--color-white);
      margin: 0 rem(10) 0 0;
    }
  }
}
