.modal {
  position: absolute;
  top: rem(32);
  right: 0;
  z-index: 20;
  padding: rem(8);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: rem(8);
  background-color: var(--color-white);
  border-radius: rem(2);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--tansit);
  &--open {
    opacity: 1;
    pointer-events: all;
  }

  &__link {
    color: var(--color-black);
    font-size: rem(12);
    line-height: 183%;
    cursor: pointer;
  }
}
