.upload {
  display: flex;
  flex-direction: column;

  &__label {
    border: 1px solid var(--color-gainsboro);
    border-radius: rem(2);
    display: flex;
    align-items: center;
    gap: rem(8);
    padding: rem(5) rem(16);
    cursor: pointer;
    max-width: rem(200);

    &--error {
      border: 1px solid var(--color-red);
    }

    &-text {
      font-size: rem(14);
      line-height: rem(22);
    }
  }

  &__error {
    color: var(--color-red);
    opacity: 0;
    pointer-events: none;

    &--error {
      opacity: 1;
      pointer-events: all;
    }
  }
}
