.login {
  border: 1px solid var(--color-grey-border);
  border-radius: rem(10);
  margin: rem(30) 0 rem(60);
  padding: rem(28) rem(20);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  min-height: rem(739);
  @include vp-767 {
    min-height: rem(539);
  }

  &__wrapper {
    max-width: rem(735);
    margin: 0 auto;
    width: 100%;
  }
  &__title {
    text-align: center;
    @include fluid-text(36, 22);
    line-height: 100%;
    font-weight: 600;
    padding: 0;
    margin: 0 0 rem(20) 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &-error {
      text-align: center;
      color: var(--color-red);
      opacity: 0;
    }
    &-fieldset {
      border: none;
      margin: 0 0 rem(5);
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: rem(5);
    }
    &-buttons {
      display: flex;
      justify-content: space-between;

      @media (max-width: 576px) {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }
}
