.btn {
  font-family: $ff-main;
  border: none;
  background-color: $color-white;
  color: $color-black;
  cursor: pointer;
  padding: 16px 22px;
  border-radius: 28px;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}