*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Poppins, OpenSans, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

textarea {
  resize: none;
}
