:root {
  /* Fonts */
  /* ------------------------------------ */
  --ff-main: Poppins, OpenSans, sans-serif;
  --ff-error: Roboto, OpenSans, sans-serif;
  --ff-logo: Montserrat, OpenSans, sans-serif;

  /* Colors */
  /* ------------------------------------ */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-nero: #141414;
  --color-orange: #ffa902;
  --color-orange-peel: #f3a100;
  --color-orange-hover-1: #f7f0e3;
  --color-orange-hover-2: #f7ca6f;
  --color-grey: #868383;
  --color-grey-light: #bdbdbd;
  --color-grey-border: #e5e5ea;
  --color-lavender: #868383;
  --color-gainsboro: #d9d9d9;
  --color-red: #ff4d4f;

  --color-perano: #b4a9ff;
  --color-heliotrope: #dc5dfc;

  --color-white-60: rgba(255, 255, 255, 0.6);

  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-70: rgba(0, 0, 0, 0.7);
  --color-black-85: rgba(0, 0, 0, 0.85);

  --color-skeleton: linear-gradient(90deg, #fbeaea 25%, #dec3c3 50%, #fbeaea 75%);

  --tansit: 0.3s ease-in;
}
