.success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: var(--color-black-50);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: rem(20);
    max-width: rem(695);
    width: 100%;
    padding: rem(45) rem(30) rem(60);
    background-color: var(--color-white);
    height: auto;
    position: fixed;
    top: rem(282);
    left: 50%;
    transform: translateX(-50%);
    @include vp-1023 {
      max-width: rem(495);
      padding: rem(45) rem(30) rem(50);
    }
    @include vp-767 {
      top: 30%;
    }

    @media (max-width: 576px) {
      max-width: rem(295);
    }
  }

  &__text {
    font-weight: 600;
    font-size: rem(24);
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    @include vp-1023 {
      font-size: rem(20);
    }
    @include vp-767 {
      font-size: rem(18);
    }
  }
}
