.error {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: rem(24);
  max-width: rem(800);
  width: 100%;
  height: auto;
  padding: rem(40);
  background-color: var(--color-grey-border);
  @include vp-1023 {
    max-width: rem(600);
  }
  @include vp-767 {
    max-width: rem(410);
  }
  @media (max-width: 425px) {
    width: auto;
  }
  &__text {
    text-align: center;
    color: var(--color-black);
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;
    }
    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
