.post {
  margin: rem(30) 0;
  &__img {
    width: 100%;
    max-height: 450px;
    border-radius: rem(10) rem(10) 0 0;
    margin: 0 0 rem(30) 0;
  }
  &__wrapper {
    max-width: 1008px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    &-title {
      font-weight: 600;
      @include fluid-text(36, 26);
      line-height: 100%;
      margin: 0 0 rem(15) 0;
      padding: 0;
    }
    &-paragraph {
      font-size: rem(16);
      line-height: rem(24);
      margin: 0 0 rem(50) 0;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: rem(50);
    margin: rem(30) 0 0 0;
  }
}
