.home {
  padding: rem(60) 0 rem(158) 0;
  @include vp-767 {
    padding: rem(20) 0 rem(20) 0;
  }
  &__div {
    width: 300px;
    height: 300px;
    background-color: green;
    &--active {
      background-color: black;
    }
  }
}
