.field {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  &__label {
    display: flex;
    align-items: center;
    gap: rem(4);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: 1px solid var(--color-gainsboro);
    border-radius: rem(2);
    background: transparent;
    padding: rem(5) rem(12);
    outline: none;
    &--error {
      border: 1px solid var(--color-red);
    }
    &::placeholder {
      color: var(--color-gainsboro);
    }
  }
  &__error {
    color: var(--color-red);
    opacity: 0;
    pointer-events: none;

    &--error {
      opacity: 1;
      pointer-events: all;
    }
  }
}
